<div class="footer">
  <div class="about">
    <strong>ABOUT BARNEYS</strong>
    <h6>Company Information</h6>
    <h6>BNY Foundation</h6>
    <h6>Privacy Policy</h6>
    <h6>Terms of Use</h6>
    <h6>Accessibility</h6>
    <h6>Careers</h6>
  </div>
  <div class="customer">
    <strong>CUSTOMER SERVICE</strong>
    <h6>Shipping & Returns Policy</h6>
    <h6>Contact Us</h6>
    <h6>Check Your Order</h6>
    <h6>F.A.Q.</h6>
  </div>
  <div class="our-stores">
    <strong>OUR STORIES</strong>
    <h6>Store Locations</h6>
    <h6>Events</h6>
    <h6>Restaurants</h6>
  </div>
  <div class="service">
    <strong>SERVICES</strong>
    <h6>Barneys Credit Card</h6>
    <h6>Personal Shopping</h6>
    <h6>Gift Cards</h6>
    <h6>Gift Registry</h6>
  </div>
  <div class="browse">
    <strong>BROWSE</strong>
    <h6>New Arrivals</h6>
    <h6>Women</h6>
    <h6>Men</h6>
    <h6>Home</h6>
    <h6>Kids</h6>
    <h6>Editorial</h6>
    <h6>Sitemap</h6>
  </div>
  <div class="podcast">
    <strong>THE BARNEYS PODCAST</strong>
    <img src="" alt="">
    <strong>DOWNLOAD OUR APP</strong>
  </div>
</div>
