<div class="nav">
  <div class="top-white">
    <p>Free Shipping On All International Orders Over $150 | See Details</p>
  </div>
  <div class="black-block">
    <div class="b-left">
      <p>BARNEYS WAREHOUSE</p>
      <p>THE WINDOW</p>
      <p>THE REGISTRY</p>
    </div>
    <div class="b-right">
      <p>US | USD $</p>
      <p>LOG IN / REGISTER</p>
      <p>MY BAG</p>

    </div>
    <div class="center-block">
      <div class="logo">
          <p>BARNEYS NEW YORK</p>
      </div>
      <div class="search">
        <p>Search</p>
      </div>
    </div>

    <div class="bottom-links">
      <p>NEW ARRIVALS</p>
      <p>WOMEN</p>
      <p>MEN</p>
      <p>BEAUTY</p>
      <p>HOME</p>
      <p>KIDS</p>
      <p>EDITORIAL</p>

    </div>


  </div>

</div>
